@media only screen and (min-width: 768px) {
  // FOR DESKTOP AND TABLET
  .heading {
    font-size: 2rem;
    font-weight: 700;
    margin: auto;
    text-align: center;
    margin-top: 1rem;
    font-family: 'ProximaNovaBold';
    margin-bottom: 1rem;
  }
  .subhead {
    color: #777777;
    width: 38%;
    font-size: 16px;
    margin-bottom: 3rem;
    font-family: 'ProximaNovaLight';
  }
  .question {
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    color: #ee405e;
    font-family: 'ProximaNovaBold';
  }
  .answer {
    text-align: left;
    font-size: 16px;
    color: #000000;
    font-family: 'ProximaNovaLight';

  }
  .headingques {
    margin: auto;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: 'ProximaNovaBold';
  }
  .contact {
    color: #ee405e;
  }
}

@media only screen and (max-width: 767px) {
  //   /* phones */
  .main {
    width: 100%;
    overflow: hidden;
  }
  .heading {
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .subhead {
    color: #777777;
    width: 100%;
    font-size: 0.8rem;
    margin-bottom: 3rem;
  }
  .question {
    text-align: left;
    font-size: 0.8rem;
    font-weight: 600;
    margin-top: -0.2rem;
  }
  .answer {
    text-align: left;
    font-size: 0.7rem;
    color: #777777;
  }
  .headingques {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }
  .contact {
    color: #ee405e;
  }
}
