@media only screen and (min-width: 768px) {
  // FOR DESKTOP AND TABLET
  .mainContainer {
    background-image: url("../../Assets/images (3).png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    min-height: 82vh;
    position: relative;
    width: 100%;
  }
  .mainContainer::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    transition: all 1s;
    -webkit-transition: all 1s;
  }
  .why {
    margin-top: 3.5rem;
    font-size: 1.69rem;
    font-weight: bold;
  }
  .ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 1.05rem;
  }
  .ul li {
    margin-top: 0.4rem;
  }

  .ul li::before {
    // content: "■";
    content: "\25A0";
    color: #ee405e;
  }
  .servicesection {
    margin-top: 6rem;
  }
  .service {
    color: #ee405e;
    font-size: 1.7rem;
    font-weight: bold;
  }
  .services {
    font-size: 1rem;
    font-weight: bold;
  }
  .heading {
    align-items: center;
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 6rem;
  }
  .para {
    width: 90%;
    font-size: 1.05rem;
  }
  .para1 {
    width: 80%;
    font-size: 1.05rem;
    font-weight: bold;
  }
  .divider {
    margin-bottom: 5rem;
    margin-top: 3rem;
    width: 80%;
  }
  .margin {
    margin-top: 2rem;
  }
  .menuButton {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  //   /* phones */
  .mainContainer {
    background-image: url("../../Assets/images (3).png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    min-height: 82vh;
    position: relative;
    width: 100%;
  }
  .mainContainer::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    transition: all 1s;
    -webkit-transition: all 1s;
  }
  .why {
    margin-top: 1.2rem;
    font-size: 1.3rem;
    font-weight: bold;
  }
  .margin {
    margin-top: 0.2rem;
  }
  .ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 0.8rem;
  }
  .ul li {
    margin-top: 0.4rem;
    margin-bottom: 0.6rem;
  }

  .ul li::before {
    // content: "■";
    content: "\25A0";
    color: #ee405e;
  }
  .servicesection {
    margin-top: 1.6rem;
  }
  .service {
    color: #ee405e;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .services {
    font-size: 0.8rem;
    font-weight: bold;
  }
  .heading {
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 6rem;
    text-align: center;
  }
  .para {
    width: 80%;
    font-size: 0.7rem;
  }
  .para1 {
    width: 80%;
    font-size: 0.7rem;
    font-weight: bold;
  }
  .divider {
    margin-bottom: 5rem;
    margin-top: 3rem;
    width: 80%;
  }
  .menuButton {
    display: flex;
    height: 50px !important;
    background-color: white;

    text-align: center;
    .togButton {
      margin-top: 10px;
      margin-right: 130px;
      margin-left: 20px;
      button {
        background-color: transparent !important;
        border: none !important;
        color: red !important;
        font-size: 20px;
        font-weight: 800;
      }
    }
  }
}
