@media only screen and (min-width: 768px) {
  // FOR DESKTOP AND TABLET
  .logos_container{
    margin: 0rem 1rem 1rem 0rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    .logo_container{
      height: 10rem;
    }
    h2{
      font-size: 0.9rem;
    }
  }
}
@media only screen and (max-width: 767px) {
  /* phones */

  .logos_container{
    margin: 0rem 1rem 1rem 0rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    .logo_container{
      height: 10rem;

    }
    h2{
      font-size: 0.9rem;
    }
  }}
