*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: AvenirNext, Helvetica, Arial, Open Sans, sans-serif;
}
p , span , li , h6 {
  font-family: AvenirNext, Helvetica, Arial, Open Sans, sans-serif;
}
button {
  font-family: AvenirNext, Helvetica, Arial, Open Sans, sans-serif;
}
h3 , h2 {
  
  font-family: AvenirNext, Helvetica, Arial, Open Sans, sans-serif;
}
.dropdown-item {
  font-size: 14px !important;
  color: #000 !important;
  outline: none !important;
}
center h2 {
  font-family: AvenirNext, Helvetica, Arial, Open Sans, sans-serif;
  font-family: AvenirNext, Helvetica, Arial, Open Sans, sans-serif;
}
.dropdown-submenu-container {
  position: relative;
}
.dropdown-submenu-container a.dropdown-submenu::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: 0.8em;
}
.dropdown-submenu-container .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 1px;
  margin-right: auto;
}
.dropdown-menu-right .dropdown-submenu-container .dropdown-menu {
  left: auto;
  right: 100%;
  margin-left: auto;
  margin-right: 1px;
}
.szh-menu-button::before {
  content: '';
  position: absolute;
  margin-left: .255em;
  vertical-align: .255em;
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
  right: -12px;
  top: 14px;
}
.szh-menu-button {
  color: #fff;
  position: relative;
  margin-right: 14px;
}
.szh-menu {
  z-index: 9999999999999999 !important;
  padding: 0 !important;
}
.home_mainContainer {
  z-index: -1 !important;
}
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-thumb {
  background: #808080ba;
  border-radius: 0px;
}
.szh-menu li.szh-menu__item , .szh-menu li.szh-menu__submenu {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  font-size: 14px;
}
.main_card_style{
  width: 30vw !important;
}
.szh-menu li.szh-menu__submenu >div  {
  padding: .25rem 0 !important;
  background: transparent !important;
  
}

.szh-menu--dir-right{
  left: 239px !important;
}

.szh-menu__submenu > .szh-menu__item::after{
  right: -1rem !important;
}

footer {
  color: #b2b3b5 !important;
}
.social_links ul li a {
  color: #b2b3b5;
  font-size: 20px;
  margin: 0 10px;
}
.social_links ul li {
  list-style: none;
}
.social_links ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.links_footer ul {
  margin: 0;
  padding: 0;
}
.links_footer ul li a {
  color: #b2b3b5;
  font-size: 14px;
  padding: 0 !important;
}
.links_footer ul li a i {
  margin-right: 4px;
}
.links_footer ul li {
  list-style: none;
  padding: 3px 0;
  font-family: AvenirNext, Helvetica, Arial, Open Sans, sans-serif;
}
.footer_parenbt {
  background: #111;
  padding-top: 44px;
}
.footer_logo img {
  width: 124px;
}
.header_name h3 {
  font-size: 20px;
}
.social_links {
  margin-left: 10px;
}
.sub-footer {
  padding: 14px 0;
  margin-top: 24px;
  border-top: 1px solid hsla(0,0%,93.7%,.14901960784313725);
}
.sub-footer .copy {
  margin: 0;
  font-size: 14px;
  line-height: 40px;
  color: #b2b3b5;
  font-family: AvenirNext, Helvetica, Arial, Open Sans, sans-serif;
}
.sub-footer .copy a {
  color: #b2b3b5;
  text-decoration: none;
}
.custom_class_nav {
  font-size: 14px;
}
.custom_class_nav input {
  font-size: 14px;
}
.topHeader_main_container {
  font-size: 14px;
}
.custom_header_main_top , .custom_header_main_top button {
  font-size: 14px;
}
.headeR_nav_main_header a , .headeR_nav_main_header button ,  .headeR_nav_main_header .button_dropdown ,
.headeR_nav_main_header .dropdown_Services {
  font-size: 12px ;
  font-family: AvenirNext, Helvetica, Arial, Open Sans, sans-serif;
}
.custom_lniks_mobile {
  color: #fff;
}
.breakword_paragraph p {
  word-break: break-word;
  
  font-family: AvenirNext, Helvetica, Arial, Open Sans, sans-serif;

}
.breakword_paragraph span {
  
  font-family: AvenirNext, Helvetica, Arial, Open Sans, sans-serif;

}
.carCardContainer h6 {
  font-family: AvenirNext, Helvetica, Arial, Open Sans, sans-serif;
}
.carCardContainer p {
  font-family: AvenirNext, Helvetica, Arial, Open Sans, sans-serif;

}
.breakword_paragraph li {
  margin-left: 20px;
}
.grey_submenu {
  color: gray !important;
}
.main_slider_serv {
  width: 100%;
}
span.displayed-text .read-more-button {
  color: #ee405e;
  text-decoration: underline;
  font-family: AvenirNext, Helvetica, Arial, Open Sans, sans-serif;
}

.display-text-group span {
  font-size: 16px;
  font-family: AvenirNext, Helvetica, Arial, Open Sans, sans-serif;
}
.custom_main_images {
  width: 100%;
}
.add_bottom_mrgin {
  padding-bottom: 2rem;
}
.contact .info-box {
  transition: .3s linear;
  color: #444444;
  background: #f8faff;
  padding: 36px 30px 30px;
  margin-top: 2rem;
  min-height: 220px;
}
.contact .info-box:hover {
  background: #ee405e;
  color: #fff !important;
}
.contact .info-box:hover i , .contact .info-box:hover h3 , .contact .info-box:hover a {
  color: #fff !important;
}
.contact .info-box i {
  font-size: 38px;
  line-height: 0;
  color: #ee405e;
}
.contact .info-box h3 {
  font-size: 20px;
  color: #ee405e;
  font-weight: 700;
  margin: 20px 0 10px 0;
  font-family: AvenirNext, Helvetica, Arial, Open Sans, sans-serif;
}
.contact .info-box p  , .contact .info-box a  {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  font-family: AvenirNext, Helvetica, Arial, Open Sans, sans-serif;
}
.main_section_bg {
  background: #fff !important;
  padding-top: 2rem;
}

.custom_size_icon {
  font-size: 18px !important;
  margin-right: 10px;
}

.info-box{
  box-shadow: 0px 0px 4px 3px #80808026;
}
.terminate_newline{
  display: inline-flex;
}
.add_overflow {
  padding-bottom: 101px;
}
.custom_contactus {
  background: #fafbff;
  padding: 30px 30px 0px;
  height: 100%;
  margin-top: 2rem;
  box-shadow: 0px 0px 4px 3px #80808026;
}
.custom_contactus .card {
  background: transparent;
}
.custom_contactus label {
  font-size: 16px !important;
  font-weight: bold;
  float: left;
  font-family: AvenirNext, Helvetica, Arial, Open Sans, sans-serif;
  margin-bottom: 6px;
  color: #000 !important;
}
.custom_contactus input {
  height: 46px !important;
  font-family: AvenirNext, Helvetica, Arial, Open Sans, sans-serif;
}
.custom_contactus textarea {
  font-family: AvenirNext, Helvetica, Arial, Open Sans, sans-serif;

}
.custom_class_nav .nav-tabs .nav-item.show .nav-link, .custom_class_nav .nav-tabs .nav-link.active {
  padding: 10px 20px;
  height: auto !important;
  font-size: 16px;
  font-family: AvenirNext, Helvetica, Arial, Open Sans, sans-serif;
}
.custom_class_nav .nav-tabs .nav-item.show .nav-link,.custom_class_nav .nav-tabs .nav-link {
  padding: 10px 20px;
  font-size: 16px;
  font-family: AvenirNext, Helvetica, Arial, Open Sans, sans-serif;
}
 
.custom_class_nav input {
  font-family: AvenirNext, Helvetica, Arial, Open Sans, sans-serif;
  outline: none;
  box-shadow: none !important;
}


.main_video_iframe {
  width: 100%;
  height: 400px;
  margin-top: 4rem;
}
.main_video_iframe iframe {
  width: 100%;
  height: 100%;
}
.contact_heding h3 {
  font-size: 30px;
  font-weight: 600;
  font-family: AvenirNext, Helvetica, Arial, Open Sans, sans-serif;
  text-align: center;
  margin-bottom: 0;
}

.navbar-expand-md .navbar-nav .nav-link {
  font-family: AvenirNext, Helvetica, Arial, Open Sans, sans-serif;
} 
@media only screen and (min-width: 1000px) {
  .custom_class_nav .tab-content {
    padding: 0 18px 18px ;
  } 
}
@media only screen and (max-width:600px) {
  .custom_class_nav .nav-tabs .nav-item.show .nav-link, .custom_class_nav .nav-tabs .nav-link.active {
    padding: 10px 10px;
    height: auto !important;
    font-size: 16px;
  font-family: AvenirNext, Helvetica, Arial, Open Sans, sans-serif;
  }
}
.services-links li{
  list-style: none;
  font-weight: 600;
  color: black;
  font-family: AvenirNext, Helvetica, Arial, Open Sans, sans-serif;
}
.services-links a:active{
  font-weight: 600;
  color: black;
  text-decoration: none;
}
.main_images_feature {
  vertical-align: top;
  padding: 34px 20px;
  min-height: 197px;
  -webkit-box-shadow: 0px 0 5px rgb(1 41 112 / 8%);
  box-shadow: 0px 0 5px rgb(1 41 112 / 8%);
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  transition: 0.3s linear;
  margin-bottom: 2rem;
  background: #fff;
}
.main_images_feature:hover {
  -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-box-shadow: 0 7px 9px 0px #fafafc;
    box-shadow: 0 7px 9px 0px #fafafc;
}
.card_style_main , .main_card_style {
  width: 100%;
}
.card_style_main .cardsContainer {
  width: 100%;
} 
.card_style_main .cards {
  width: 100%;
}
.services-links h3 {
  font-family: AvenirNext, Helvetica, Arial, Open Sans, sans-serif;
}
@media screen and (max-width: 767px) {
  .custom_main_images {
    width: 100%;
  }
  .main_video_iframe {
    height: 220px;
  }
  .info_boxes_main {
    padding: 0;
  }
  .custom_class_nav .nav-tabs .nav-item.show .nav-link, .custom_class_nav .nav-tabs .nav-link {
    padding: 10px 14px;
  }
  .main_tabs_cnotent {
    padding: 0 16px 16px ;
  }
  .main_card_style{
    width: 99% !important;
    margin-left: -19px;
    }
} 
.swiper.swiper-initialized.swiper-horizontal.swiper-pointer-events.mySwiper {
  padding-bottom: 3rem !important;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background: #ee405e !important;
}

@media only screen  and (max-width: 576px){
  .contact_div{
    margin-left: 37px;
    margin-right: 37px;
  }
  .useful_contact ul{
    flex: auto;
    max-width: auto;
  }
  .useful_contact{
    margin-left: 32px;
    margin-top: 26px;
  }
  .useful_contact2{
    margin-top: -182px;
    margin-left: 225px;
  }
  .social_links{
    margin-top: -60px;
    margin-left: 215px;
  }
  }
  @media only screen and (max-width: 426px){
    .footer_logo{
      margin-left: 25px;
    }
    .social_links{
      margin-left: 186px;
    }
    .useful_contact{
      margin-left: 32px;
    }
    .useful_contact2{
      margin-left: 198px;
    }
  }
  @media only screen and (max-width: 400px){
    .useful_contact2{
      margin-left: 22vh;
    }
    .useful_contact {
      margin-left: 3vh;
  }
  .social_links {
    margin-left: 9vh;
    margin-top: -11px;    
}
.footer_logo{
  margin-left: 32%;
}
  }