.nav-tabs .nav-link{
    border: none;
    // color: black !important;
}
.nav-tabs{
    border: none !important;
}
a {
    color:black;
    text-decoration: none;
    background-color: transparent;
}
.nav-link.active {
    color: #EE405E !important;
}