.mainContainer_Testimonial {
  background: #f0f2f7;
  max-width: 100vw;
  overflow: hidden;
  h2 {
    padding-top: 60px;
    font-size: 32px;
   font-family: AvenirNext, Helvetica, Arial, Open Sans, sans-serif;
  }
}
